name: Build, Test & Publish

on:
  push:
    branches:
      - "main"
      - "maintenance/*"
    tags:
      - "redlink-utils-v*"

jobs:
  version:
    name: Determine Version
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.version.outputs.version }}
    steps:
      - uses: actions/checkout@v5
        name: Checkout
        with:
          fetch-depth: 2
      - name: Set up Java/Maven
        uses: actions/setup-java@v5
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven
      - name: Detect Version
        id: version
        run: ./mvnw -B -q -N exec:exec -Dexec.executable=echo -Dexec.args='version=${project.version}' >>"$GITHUB_OUTPUT"

  build:
    name: Build and Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - name: Set up Java/Maven
        uses: actions/setup-java@v5
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven
      - name: Compile & Test
        run: ./mvnw -V -B --no-transfer-progress
          clean package verify
          -Psonarcloud
          -Dsonar.projectKey=io.redlink.utils:redlink-utils
          -Dsonar.skip=${{ github.actor == 'dependabot[bot]' }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      - name: Publish Test Results
        uses: EnricoMi/publish-unit-test-result-action@v2
        if: always()
        with:
          files: '**/TEST-*.xml'

  deploy:
    name: Publish
    needs:
      - version
      - build
    runs-on: ubuntu-latest
    if: github.repository == 'redlink-gmbh/redlink-utils'
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Set up Java/Maven
        uses: actions/setup-java@v5
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: 'maven'
          server-id: central
          server-username: MAVEN_USERNAME
          server-password: MAVEN_PASSWORD
          gpg-private-key: ${{ secrets.MAVEN_GPG_PRIVATE_KEY }}
          gpg-passphrase: MAVEN_GPG_PASSPHRASE

      - name: Publish Packages
        run: ./mvnw -B --no-transfer-progress
          package javadoc:aggregate-jar deploy
          -Prelease
          -Dquick
        env:
          MAVEN_USERNAME: ${{ secrets.MAVEN_CENTRAL_DEPLOY_USER }}
          MAVEN_PASSWORD: ${{ secrets.MAVEN_CENTRAL_DEPLOY_TOKEN }}
          MAVEN_GPG_PASSPHRASE: ${{ secrets.MAVEN_GPG_PASSPHRASE }}
